#banniere{
    display: flex;
   background-color: #462524;
}
#banniere > img{
    width: 50%;
}
#banniere > div{
    width: 50%;
    display: flex ;
        flex-direction: column;
        justify-content: center;
}
h1{
    text-align: center;
    color: white;
}
#images{
    display:flex;
    justify-content: space-around;
    
}
.card img{
    width: 50%;
}
#card-list{
    display: flex;
}